<div
  [ngClass]="this.hasData ? '' : 'loading'"
  id="viewer"
  (mousedown)="handleMouseEvent($event)"
  (mouseup)="handleMouseEvent($event)"
  (mousemove)="onMove($event)"
  (mouseout)="handleMouseEvent($event)"
  (mouseenter)="handleMouseEvent($event)"
  (mousewheel)="onScroll($event)"
>
  <div class="goggle-background">
    <div id="img-wrapper">
      <img id="img" />
    </div>
    <div id="loading-indicator">
      <mat-spinner class="loading-spinner" mode="indeterminate"></mat-spinner>
    </div>
  </div>
</div>
