<mat-card>
  <form class="example-container" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="chris@portland.com" formControlName="email" autocomplete="email"/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="password" minlength=6 formControlName="password" autocomplete="current-password"/>
      </mat-form-field>
    </div>
    <div>
      <button id="authorize" mat-button>Join</button>
    </div>
  </form>
</mat-card>
