<form class="example-container" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <h2 mat-title>Register</h2>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="chris@portland.com" formControlName="email"/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="password" minlength=6 formControlName="password"/>
    </mat-form-field>
  </div>
  <div>
    <button id="authorize" mat-raised-button color="accent">Submit</button>
  </div>
</form>